body {

background:#0e1117;
color:white;
font-family:Arial;
margin:0;
padding:30px;

}

h1{
margin-bottom:20px;
}

.status-box{

background:#1c1f26;
padding:15px;
border-radius:10px;
margin-bottom:25px;

}

.dashboard-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;

}

.card{

background:#1c1f26;
padding:25px;
border-radius:12px;
text-align:center;
box-shadow:0 4px 10px rgba(0,0,0,0.4);

}

.title{

font-size:18px;
color:#aaa;
margin-bottom:10px;

}

.value{

font-size:32px;
font-weight:bold;

}

.timestamp{
margin-top:20px;
color:#aaa;
}
.road-selector {

margin-bottom:20px;

display:flex;
align-items:center;
gap:15px;

}

.road-dropdown {

background:#1c1f26;
color:white;
border:none;
padding:10px 20px;
border-radius:8px;
font-size:16px;

}